body {
  overflow: hidden;
}

.container {
  width: 100%;
  cursor: grab;
  height: auto;
  overflow: hidden;
  user-select: none;
  touch-action: none;
  background: #000;
  will-change: transform;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: contain;
  image-rendering: auto;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}
